/* colors */
:root {
    /* bg colors */
    --header-bg: #FFFFFF;
    --primary-bg: #2F303A;
    --secondary-bg: #E5E5E5;
    --selection-bg: #F5F4FA;
    /* text colors */
    --accent-text: #2196F3;
    --primary-text: #212121;
    --secondary-text: #757575;
    --footer-nav-text: rgba(255, 255, 255, 0.6);
    /* button colors */
    --filter-buttons: #F5F4FA; 
}

body {
    /* fonts */
    font-family: roboto, sans-serif; 
    /* colors */
    color: var(--primary-text); 
}

/* header */
.header-nav {
        list-style: none;
        
}

.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #000000; 
}

.logo-part {
    color: var(--accent-text);
}

.nav-options {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text); 
    text-decoration: none;
}

.nav-options:hover,
.nav-options:focus {
    color: var(--accent-text); 
}

.header-contacts {
    list-style: none;
}

.header-contacts-info {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text); 
    text-decoration: none; 
}

.header-contacts-info:hover,
.header-contacts-info:focus {
    color: var(--accent-text);
}

/* bg */
.bg-section-title {
    /* font */
    width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        /* color */
        color: #FFFFFF;
}

.bg-section-button {
    /* font */
    width: 136px;
        height: 30px;
        left: 732px;
        top: 440px;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        /* color */
        color: #FFFFFF;
        /* button box */
        width: 200px;
            height: 50px;
            left: 700px;
            top: 430px;
        /* color */
            background: var(--accent-text);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
}

/* portfolio */
.selection-button-list {
    list-style: none;
}

.selection-button {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text); 
        background: var(--filter-buttons);
            border-radius: 4px;
            border-color: var(--filter-buttons);
}

.selection-button:hover,
.selection-button:focus {
    color: #FFFFFF; 
    background-color: var(--accent-text);
}